{% extends 'recipe/recipe_list/base_recipe_list.html' %}
{% load staticfiles %}
{% block recipe_list %}
  <div class="row">
    {% for recipe in recipes %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="{% url 'recipe' pk=recipe.pk %}"><img class="card-img-top" src="{% static recipe.picture %} " alt="No picture available"></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'recipe' pk=recipe.pk %}">{{ recipe.str }}</a>
          </h4>
          <p class="card-text">{{ recipe.text }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock recipe_list %}
